.item {
    padding-bottom: 100px; /* Reserva espacio suficiente para el footer */
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  /* Fondo oscuro con opacidad */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Asegura que esté por encima de todo */
  }
  
  .spinner {
    font-size: 40px; /* Puedes cambiar el tamaño del spinner */
    color: white; /* Puedes cambiar el color del spinner */
  }
  
  ion-datetime {
    margin-top: 20px;
    padding: 10px;
  }
  