<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'TITLE' | translate }}</ion-title>
    <ion-icon name="home" slot="end" [routerLink]="['/home']" style="padding-right: 20px;"></ion-icon>
    <ion-buttons slot="end">
      <ion-button (click)="changeLanguage('es')">ES</ion-button>
      <ion-button (click)="changeLanguage('en')">EN</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let image of images">
        <ion-card (click)="openDetails(image)">
          <img [src]="image.url" *ngIf="image.media_type === 'image'" alt="{{ image.title }}" />
          <ion-card-content>
            <ion-text color="medium">{{ 'DESCRIPTION' | translate }}: {{ image.description }}</ion-text>
            <ion-text color="medium">{{ 'AUTHOR' | translate }}: {{ image.author }}</ion-text>
            <ion-text color="medium">{{ 'DATE' | translate }}: {{ image.date | date:'shortDate' }}</ion-text>
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>{{ image.title }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
