

<ion-content >
  
  <ion-header>
    <ion-toolbar style="position: fixed;">
      <ion-icon slot="start" name="arrow-back" [routerLink]="['/login']" style="padding-left: 20px; font-size: large;"></ion-icon>
      <ion-title >Recuperar contraseña</ion-title>
      <ion-icon name="home" slot="end" [routerLink]="['/home']" style="padding-right: 20px;"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
  
  <div class="d-flex-center">
    
    <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()" >
      
      <p class="ion-text-center">Se enviara un correo para que puedas seestrablacer tu contraseña</p>

      <app-custom-input 
        autocomplete="email" 
        icon="mail-outline" 
        [control]="form.controls.email" 
        type="email" label="Correo">
      </app-custom-input> 

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">Debe ingresar un correo</div>
        <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido</div>
      </div>

      <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
        Recuperar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

      

    </form>

  </div>
 
</ion-content>

